html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.task-card {
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.task-card h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

.task-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card .completed {
    text-decoration: line-through;
    color: #999;
}

.task-card .assignee,
.task-card .creator {
    font-size: 0.8rem;
    color: #777;
}
